form {
  font-family: sans-serif;
  width: 45rem;
  background-color: rgb(225, 241, 255);
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input {
  display: block;
  width: 90%;
  border-radius: 10px;
  padding: 0.5rem;
}
button {
  width: 5rem;
  border-radius: 10px;
  padding: 0.5rem;
}
.err {
  color: red;
  display: none;
}
#verified {
  color: green;
  display: none;
}
